.moyu-chat {
    display: flex;
    width: 100%;
    height: 100%;

    .chat-aside {
        width: 280px;
        padding: 20px;
        background-color: rgba(46, 50, 56, .8);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        &__header {
            display: flex;
            align-items: center;

            .header-portrait {
                width: 48px;
                height: 48px;
                padding: 2px;
                background-color: #fff;
                border-radius: 4px;
                margin-right: 10px;
                flex: 0 1 0;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .header-userinfo {
            }
        }
    }

    .chat-personnel {
        width: 300px;
        background-color: rgba(255, 255, 255, .3);
    }

    .chat-dialog {
        flex: 1 0 0;
        // background-color: rgba(255, 255, 255, .2);
        background-color: rgba(238, 238, 238, .7);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }


}